@font-face {
    font-family: 'Comfortaa';
    font-weight: 400;
    src: url(/fonts/Comfortaa.zip);
}

@font-face {
    font-family: 'Comfortaa';
    font-weight: 700;
    src: url(/fonts/Comfortaa.zip);
}

@font-face {
    font-family: 'Nunito';
    font-weight: 700;
    src: url(/fonts/Nunito.zip);
}

@font-face {
    font-family: 'Nunito';
    font-weight: 600;
    src: url(/fonts/Nunito.zip);
}

@font-face {
    font-family: 'Nunito';
    font-weight: 400;
    src: url(/fonts/Nunito.zip);
}

@font-face {
    font-family: 'Playfair Display';
    font-weight: 700;
    src: url(/fonts/Playfair_Display.zip);
}

@font-face {
    font-family: 'Raleway';
    font-weight: 500;
    src: url(/fonts/Raleway.zip);
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;

    src: url(/fonts/Roboto.zip);
}
.footer__decor {
    position: absolute;
    bottom: calc(var(--size-base* -28));
    left: 0;
    width: 100vw;
}

img {
    overflow-clip-margin: content-box;
    overflow-y: clip;
    max-width: 100%;
    height: auto;
}

:root {
    --brand-yellow: #FDC435;
    --bg-gray: #F9FAFF;
    --bg-white: #FFFFFF;
    --bg-line: #25282B;
    --border-gray: #E8ECF4;
    --font-high-emphasis: #25282B;
    --font-medium-emphasis: #828282;
    --font-low-emphasis: #9A9FA8;
    --font-black: #333333;
    --size-base: 4px;
    --content-width-max: 1200px;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 4px;
}

body {
    font-size: 4rem;
    overflow-x: hidden;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

/* 1) Размечаем layout */
/* 2) Размечаем отступы */
/* 3) Размечаем размеры */
/* 4) Размечаем цвета, шрифты и декоративные элементы */

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow-x: hidden;
    min-height: 100%;
    padding-top: 80px;
}

.page__content {
    display: flex;
    flex-direction: column;

    padding: calc(var(--size-base)*28) 0 calc(var(--size-base)*60);
    row-gap: calc(var(--size-base)*36);

    width: 100%;
    max-width: var(--content-width-max);
    overflow: visible;
}